.card {
  width: 19rem;
  height: max-content;
  margin: 1rem;
  background-color: var(--off-white);
}

.card-img {
  object-fit: contain;
}
.card-img:hover {
  cursor: pointer;
}
.card-header {
  justify-content: space-between;
}
.heart-icon:hover {
  color: red;
  cursor: pointer;
}
.ecom-card-price {
  font-weight: var(--font-dark);
}
